@font-face {
  font-family: 'BrownRegular';
  src: url('../fonts/Brown-Regular.otf');
}

html,
body {
  height: 100%;
  font-family: 'BrownRegular', sans-serif;
  line-height: 30pt;
  font-size: 22pt;
  color: rgb(16,24,32);
  background-color: rgb(16,24,32);
}

.navbar-fixed-top {
  height: 75px;
}

.portofolio div {
  background-size: cover;
  background-position: center center;
}

.text-top .fp-tableCell {
  vertical-align: text-top;
}

.fp-controlArrow {
  display: none;
}

.vv {
  height: 38px;
  padding-left: 50px;
}

.logo-alone {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 3000;
}

.logo-alone img {
  height: 38px;
}

.contact {
  background-color: rgb(16,24,32);
  color: white;
}

.navbar-right {
  padding-right: 50px;
}

.grey,
.navbar-nav>li>a {
  color: rgb(16,24,32) !important;
}

.relative {
  position: relative;
  height: 75px;
}

.v-center {
  top: 50%;
  transform: translateY(-50%);
}

.h-center {
  text-align: center;
}

.full-height: {
  height: 100%;
}

.navbar-nav>.active>a {
  background-color: transparent !important;
}

.menu .active>a:after {
  content: '';
  height: 2px;
  margin-top: 5px;
  background: rgb(16,24,32);
  display:block;
}

.content {
  font-size: 15pt;
}

.content h2 {
  font-variant: small-caps;
  text-decoration: underline;
  margin-bottom: 20px;
}

.content h3 {
  font-size: 10pt;
  margin-bottom: 0;
}

.content-contact a:link, .content-contact a:visited {
  color: white;
  text-decoration: none;
}

.content-contact a:hover, .content-contact a:active {
  color: rgb(245,245,245);
  text-decoration: underline;;
}

.content li,
.listing {
  padding-left: 1.3em;
  list-style-type: none;
}
.content li:before,
.listing:before {
  content: "\f061"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.content-contact p {
  margin-bottom: 40px;
}

.padded {
  border-top: white solid 1px;
}

.padded,
.page {
  padding: 20px;
}

.page {
  min-height: 100%;
  margin-top: 82px;
  border-top: white solid 1px;
}

.none {
  padding: 15px 15px 15px 0 !important;
  height: 75px;
}

@media only screen and (min-width : 992px) {
  body {
    background-color: white;
  }

  .padded {
    border-top: none;
  }

  .padded,
  .page {
    padding: 50px 50px 50px 117px;
  }

  .page {
    margin-top: 75px;
    border: none;
  }
}
