{% extends 'layout.twig' %}

{% block body %}
<div class="page contact">
  <h1>Erreur 404</h1>
  <p>Page non trouvée</p>
</div>
{% endblock body %}

{% block scripts %}
<script>
  $(function () {
    $('#moving-title').fadeOut('fast', function() {
      $('#moving-title')
        .html('Erreur 404')
        .fadeIn('slow');
    });
  });
</script>
{% endblock scripts %}
