{% extends 'layout.twig' %}

{% block body %}
<div class="page contact">
  {{record.body}}
</div>
{% endblock body %}

{% block scripts %}
<script>
  $(function () {
    $('#moving-title').fadeOut('fast', function() {
      $('#moving-title')
        .html({{record.title}})
        .fadeIn('slow');
    });
  });
  {% if record.slug == 'cv' %}
  $('#menu-cv').addClass('active');
  {% endif %}
</script>
{% endblock scripts %}
