{% extends 'layout.twig' %}

{% block body %}
<div class="page contact">
  En maintenance
</div>
{% endblock body %}

{% block scripts %}
<script>
  $(function () {
    $('#moving-title').fadeOut('fast', function() {
      $('#moving-title')
        .html('Recherche')
        .fadeIn('slow');
    });
  });
</script>
{% endblock scripts %}
